<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <title>{{ SITE_NAME }}</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="Triple Forms Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->

    <!-- css files -->
    <link rel="stylesheet" href="{% static 'log_css/style.css' %}" type="text/css" media="all"/>
    <!-- Style-CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->

    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext"
          rel="stylesheet">
    <!-- //web-fonts -->
</head>

<body>
<div class="main-bg">
    <!-- title -->
    <h1>{{ SITE_NAME }}</h1>
    <!-- //title -->
    <div class="sub-main-w3">
        <div class="image-style">

        </div>
        <!-- vertical tabs -->
        <div class="vertical-tab">
            <div id="section2" class="section-w3ls">
                <input type="radio" name="sections" id="option2" checked>
{#                <label for="option2" class="icon-left-w3pvt"><span class="fa fa-pencil-square"#}
{#                                                                   aria-hidden="true"></span>Register</label>#}
                <article>
{#                    <div>{{ error }}</div>#}
                    <form action="{% url 'blog:reg' %}" method="POST">
                        {% csrf_token %}
                        <h3 class="legend">Register Here</h3>
                        <div class="input">
                            <span class="fa fa-user" aria-hidden="true"></span>
                            {{userform.username }}
                        </div>
                        <div class="input">
                            <span class="fa fa-envelope-o" aria-hidden="true"></span>
                            {{userform.email }}
                        </div>
                        <div class="input">
                            <span class="fa fa-key" aria-hidden="true"></span>
                            {{userform.password }}
                        </div>
                        <div class="input">
                            <span class="fa fa-key" aria-hidden="true"></span>
                            {{userform.conf_password}}
                        </div>
                        <button type="submit" class="btn submit">Register</button>
                    </form>
                </article>
            </div>
        </div>
        <!-- //vertical tabs -->
        <div class="clear"></div>
    </div>
</div>

</body>

</html>